.sidebar-container {
  position: fixed;
  left: -20vw;
  width: 20vw;
  height: 100%;
  background: #042331;
  transition: all 0.5s ease;

  & ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;
  }

  header {
    white-space: nowrap; 
    width: 20vw; 
    overflow: hidden;
    text-overflow: ellipsis; 
    font-size: 2vw;
    color: #F0810F;
    text-align: center;
    line-height: 70px;
    background: #063146;
    user-select: none;
  }
}

section {
  transition: all 0.5s;
  height: 100vh;
}
