.user-input-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  .user-input-label {
    color: wheat;
    font-size: 5vh;
  }

  .user-input {
    width: 50vw;
    height: 8vh;
    margin: 5vh;
    background-color: rgb(38, 48, 60);
    border: 1px solid black;
    border-radius: 5px;
    font-size: 5vh;
    color: white;
    font-weight: 400;
  }

  .user-input-button {
    background-color: rgb(38, 48, 60);
    height: 8vh;
    font-size: 5vh;
    color: white;
    font-weight: 400;
    cursor: pointer;
    border-radius: 10px;
    width: 20vw;
    transition: all 0.5s ease;

    &:hover {
      transform: scale(1.2);
    }
  }
}
